.part1{
    height: 10vh;
}
.part2{
    width: 100vw;
    height: 85vh;
    
}
.part2 img{
    width: 90vw;
    height: 80vh;
    margin-left:5vw;
    margin-right:5vw;
    margin-top: 1vh;
    border-radius: 10px;
}
.part3{
    background-color: white;
}
.part2 h2{
    text-align: center;
    font-family: Dosis;
    margin-top: 0.3rem;
}
.part2 h2 a{
    text-decoration: none;
    padding: 0 1rem;
    border-radius: 5px;
    color: black;
    background-color: grey;
}